body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #FF338D;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #9e4caf;
    color: #FF338D(255, 255, 255, 0.896);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #a0457d;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjymq0HciMZdQisuJYaDYbW5OfEHtQRJQRPA&usqp=CAU);
    color: rgba(255, 255, 255, 0.925);
}
footer {
    background-color :#FF339F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}